<?xml version="1.0" encoding="utf-8"?>
<!-- This test case exercises being called with a different darc-pub-* feed
     Expected behaviors:
       - 'Begin: Package sources' and 'End: Package sources' comments are newly added around added feeds
       - 'Begin: Package sources from ...' and 'End: Package sources from ...' comments created around each dotnet-standard's feed
       - Feeds are added in alphabetic order
       - A multi-line comment is included in the file and expected to not change its conte
       - Disabled Sources node is created with Begin / end comments as seen in packageSources
       - Disabled sources node has added comments for begin/end of dotnet-arcade and its specified internal feed
 -->
<configuration>
  <packageSources>
    <clear />
    <!--
      'src/test/PrepareTestAssets/PrepareTestAssets.proj' generates a NuGet.config file using this
      one as a template. The following line is a marker to insert the test restore sources.
    -->
    <!-- TEST_RESTORE_SOURCES_INSERTION_LINE -->

    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-coreclr" value="https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
