<FluentCard class="card-padding" Style="width: 100%">
    <FluentSkeleton Style="margin-bottom: 5px;" Width="100%" Height="30px"></FluentSkeleton>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentProgressRing Style="margin-top: 5px; margin-left: 20px" Size="Size.Large" />
        <div style="margin-top: 10px; margin-left: 20px">Loading ...</div>
        <FluentSkeleton Style="margin-left: 20px; margin-top: 20px" Width="70%" Height="10px;"></FluentSkeleton>
    </FluentStack>
    <FluentSkeleton Style="margin-top: 15px" Width="80%" Height="10px;"></FluentSkeleton>
    <FluentSkeleton Style="margin-top: 15px" Width="90%" Height="10px;"></FluentSkeleton>
    <FluentSkeleton Style="margin-top: 15px" Width="75%" Height="10px;"></FluentSkeleton>
</FluentCard>
