<span @ref="@Element" class="custom-small-badge">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</span>

@code {

    public ElementReference Element { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Text { get; set; }

}
