<table class="table table-sm table-hover mb-0" style="white-space: nowrap;">
  <thead>
    <th>Source Repository</th>
    <th>OutputBranch</th>
    <th>Status</th>
  </thead>
  <button (click)="openDetails=!openDetails">Show/Hide Additional Details</button>
  <tbody>
    <ng-container *ngFor="let branch of subscriptionsList | keyvalue">
      <ng-container *ngFor="let sub of subscriptionsList[branch.key]">
        <tr>
          <td>
            {{sub.sourceRepository}}
          </td>
          <td>
            {{branch.key}}
          </td>
          <td>
            {{sub.enabled ? 'Enabled' : 'Disabled'}}
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="openDetails">
        <ng-container *stateful="let details from versionDetailsList[branch.key]">
          <ng-container *ngFor="let dep of details.unusedSubscriptions | keyvalue">
            <tr>
              <td>
                {{dep.key}}
              </td>
              <td>
                {{branch.key}}
              </td>
              <td>
                No Dependencies
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
