<h3>:bangbang: Build Analysis Check Result has been manually overridden </h3>
<ul>
<li>The build analysis check result has been updated by the user for the following reason: <i>{{Reason}}</i> </br></li>
<li>The check result has changed from <i>{{PreviousResult}}</i> to <i>{{NewResult}}</i></li>
</ul>

{{{CheckResultBody}}}
