@using Microsoft.DotNet.ProductConstructionService.Client
@using Microsoft.DotNet.ProductConstructionService.Client.Models
@inject IProductConstructionServiceApi PcsApi
@inject IToastService ToastService
@implements IDialogContentComponent<Subscription>

<style>
    table.subscription-details {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1rem;
        text-align: left;
    }

    table.subscription-details td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    table.subscription-details td:first-child {
        font-weight: bold;
    }

    body[data-theme="light"] table.subscription-details td:first-child,
    body[data-theme="system-light"] table.subscription-details td:first-child {
        background-color: #f9f9f9;
    }

    table.subscription-details ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
</style>

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            Subscription Details
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>


    <div style="overflow:auto;max-width: 800px; max-height: 1500px; margin: 0 auto;">
     <CodeflowHistoryGraph SubscriptionId="@Content.Id"/>
    </div>

</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="TriggerSubscriptionAsync">
        Trigger Subscription
    </FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="CloseAsync">
        Close
    </FluentButton>
</FluentDialogFooter>

@code {
    [Parameter]
    public Subscription Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private async Task TriggerSubscriptionAsync()
    {
        try
        {
            await PcsApi.Subscriptions.TriggerSubscriptionAsync(Content.Id);
            ToastService.ShowProgress("Subscription triggered");
        }
        catch
        {
            ToastService.ShowError("Failed to trigger the subscription");
        }
    }

    private async Task CloseAsync()
    {
        if (Dialog != null)
        {
            await Dialog.CloseAsync();
        }
    }
}
