trigger: none
pr: none

resources:
  pipelines:
  - pipeline: Build
    source: arcade-services-internal-ci
    trigger:
      branches:
        include:
        - master
        - production
        - SplitPipelines

stages:
- template: eng\deploy.yaml
  parameters:
    ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/master') }}:
      DeploymentEnvironment: Staging
      DotNetStatusAppName: dotneteng-status-staging
      DotNetStatusEndpoint: .NET Engineering Deployment Notification - Staging
      MaestroPublishEndpoint: https://maestro-prod.westus2.cloudapp.azure.com
      MaestroTestEndpoint: https://maestro-int.westus2.cloudapp.azure.com
      PublishProfile: Int
      ServiceFabricConnection: Maestro-Int
      Subscription: NetHelixStaging
      VariableGroup: MaestroInt KeyVault
      StatusVariableGroup: DotNetStatus Staging
    ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/production') }}:
      DeploymentEnvironment: Production
      DotNetStatusAppName: dotneteng-status
      DotNetStatusEndpoint: .NET Engineering Deployment Notification - Production
      MaestroPublishEndpoint: https://maestro-prod.westus2.cloudapp.azure.com
      MaestroTestEndpoint: https://maestro-prod.westus2.cloudapp.azure.com
      PublishProfile: Prod
      ServiceFabricConnection: Maestro-Prod
      Subscription: NetHelix
      VariableGroup: MaestroProd KeyVault
      StatusVariableGroup: DotNetStatus Production
