# CI and PR triggers
trigger:
- master
- production
pr:
- master

# Three phases for each of the three OSes we want to run on
jobs:
- template: /eng/common/templates/job/job.yml
  parameters:
    name: Windows_NT
    enableMicrobuild: true
    enablePublishBuildArtifacts: true
    enablePublishTestResults: true
    enablePublishBuildAssets: false
    enableTelemetry: true
    helixRepo: dotnet/arcade-services
    pool:
      ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
        name: NetCorePublic-Int-Pool
        queue: Windows.10.Amd64.Open
      ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        name: dotnet-internal-temp
    strategy:
      matrix:
        debug_configuration:
          _BuildConfig: Debug
        release_configuration:
          _BuildConfig: Release
    steps:
    - checkout: self
      clean: true

    - task: NuGetToolInstaller@0
      inputs:
        versionSpec: 4.4.1

    - task: NuGetCommand@2
      displayName: Restore Packages
      inputs:
        command: restore
        solution: "**/*.sln"

    - powershell: eng\set-version-parameters.ps1
      displayName: Calculate release version variables

    - script: eng\common\cibuild.cmd
        -configuration $(_BuildConfig)
        -prepareMachine
      name: Build
      displayName: Build
      condition: succeeded()

    - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
    
      ## Prepare service fabric artifact
      - task: ServiceFabricUpdateManifests@2
        inputs:
          applicationPackagePath: $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\applicationpackage

      - powershell: |
          robocopy src/Maestro/MaestroApplication/PublishProfiles $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\projectartifacts\PublishProfiles /S *.xml
          robocopy src/Maestro/MaestroApplication/ApplicationParameters $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\projectartifacts\ApplicationParameters /S *.xml
          exit 0
        displayName: Copy Maestro Project Artifacts

      - task: PublishBuildArtifacts@1
        displayName: Publish Service Fabric Artifact
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)\ServiceFabric\
          ArtifactName: ServiceFabric
          ArtifactType: Container
      
      ## Prepare database update artifact
      - script: $(Build.SourcesDirectory)\.dotnet\dotnet publish -o $(Build.ArtifactStagingDirectory)\Maestro.Data -f netcoreapp2.1
        workingDirectory: src/Maestro/Maestro.Data
        displayName: Create Data Package
        
      - task: CopyFiles@2
        displayName: Copy update-database.ps1
        inputs:
          sourceFolder: $(Build.SourcesDirectory)\src\Maestro
          contents: update-database.ps1 
          targetFolder: $(Build.ArtifactStagingDirectory)\Maestro.Data\
        
      - task: PublishBuildArtifacts@1
        displayName: Publish Maestro.Data Artifact
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)\Maestro.Data
          ArtifactName: Maestro.Data
          ArtifactType: Container
      
      ## Prepare nuget package publish artifact
      - task: CopyFiles@2
        displayName: Prepare NuGet publish steps (Part 1, build files)
        inputs:
          sourceFolder: $(Build.SourcesDirectory)\eng
          contents: '*'
          targetFolder: $(Build.ArtifactStagingDirectory)\nupkgs

      - task: CopyFiles@2
        displayName: Prepare NuGet publish steps (Part 2, package sources)
        inputs:
          sourceFolder: $(Build.SourcesDirectory)\
          contents: Nuget.config
          targetFolder: $(Build.ArtifactStagingDirectory)\nupkgs
          
      - task: CopyFiles@2
        displayName: Prepare NuGet publish steps (Part 3, packages)
        inputs:
          sourceFolder: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\Shipping
          contents: '**'
          targetFolder: $(Build.ArtifactStagingDirectory)\nupkgs
          
      - task: PublishBuildArtifacts@1
        displayName: Publish NuPkgs Artifact
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)\nupkgs
          ArtifactName: NuPkgs
          ArtifactType: Container

      - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranchName', 'production')) }}:
        - powershell: eng\create-tag.ps1 -AccessToken $(System.AccessToken)

