# CI and PR triggers
trigger:
- master
- production
pr:
- master

# Three phases for each of the three OSes we want to run on
jobs:
- template: /eng/common/templates/job/job.yml
  parameters:
    name: Windows_NT
    enableMicrobuild: true
    enablePublishBuildArtifacts: true
    enablePublishTestResults: true
    enablePublishBuildAssets: false
    enableTelemetry: true
    helixRepo: dotnet/arcade-services
    pool:
      ${{ if or(eq(variables['System.TeamProject'], 'public'), in(variables['Build.Reason'], 'PullRequest')) }}:
        name: NetCorePublic-Int-Pool
        queue: Windows.10.Amd64.Open
      ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
        name: dotnet-internal-temp
    strategy:
      matrix:
        debug_configuration:
          _BuildConfig: Debug
        release_configuration:
          _BuildConfig: Release
    steps:
    - checkout: self
      clean: true

    - task: NuGetToolInstaller@0
      inputs:
        versionSpec: 4.4.1

    - task: NuGetCommand@2
      displayName: Restore Packages
      inputs:
        command: restore
        solution: "**/*.sln"

    - script: eng\common\cibuild.cmd
        -configuration $(_BuildConfig)
        -prepareMachine
      name: Build
      displayName: Build
      condition: succeeded()

    - ${{ if and(ne(variables['System.TeamProject'], 'public'), notin(variables['Build.Reason'], 'PullRequest')) }}:
      - task: ServiceFabricUpdateManifests@2
        inputs:
          applicationPackagePath: $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\applicationpackage

      - powershell: |
          robocopy src/Maestro/MaestroApplication/PublishProfiles $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\projectartifacts\PublishProfiles /S *.xml
          robocopy src/Maestro/MaestroApplication/ApplicationParameters $(Build.ArtifactStagingDirectory)\ServiceFabric\MaestroApplication\projectartifacts\ApplicationParameters /S *.xml
          exit 0
        displayName: Copy Maestro Project Artifacts

      - task: PublishBuildArtifacts@1
        displayName: Publish Service Fabric Packages Artifact
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)\ServiceFabric\
          ArtifactName: ServiceFabric
          ArtifactType: Container
          
      - task: PublishBuildArtifacts@1
        displayName: Publish Nuget Packages Artifact
        inputs:
          PathtoPublish: $(Build.SourcesDirectory)\artifacts\packages\$(_BuildConfig)\Shipping
          ArtifactName: NuPkgs
          ArtifactType: Container
      
      - script: $(Build.SourcesDirectory)\.dotnet\dotnet publish -o $(Build.ArtifactStagingDirectory)\Maestro.Data -f netcoreapp2.1
        workingDirectory: src/Maestro/Maestro.Data
        displayName: Create Data Package
        
      - script: cp /y $(Build.SourcesDirectory)\src\Maestro\update-database.ps1 $(Build.ArtifactStagingDirectory)\Maestro.Data\update-database.ps1
        displayName: Create Data Package
        
      - task: PublishBuildArtifacts@1
        displayName: Publish Maestro.Data Package Artifact
        inputs:
          PathtoPublish: $(Build.ArtifactStagingDirectory)\Maestro.Data
          ArtifactName: Maestro.Data
          ArtifactType: Container
