<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\.dll$</ModulePath>
                <ModulePath>.*\.exe$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*moq\.dll$</ModulePath>
                <ModulePath>.*fluentassertions\.dll$</ModulePath>
                <ModulePath>.*microsoft\.extensions\.logging\.applicationinsights\.dll$</ModulePath>
                <ModulePath>.*libgit2sharp\.dll$</ModulePath>
                <ModulePath>.*quartz\.dll$</ModulePath>
                <ModulePath>.*\git.*\.dll$</ModulePath>
                <ModulePath>.*tests\.dll$</ModulePath>
                <ModulePath>.*\.testadapter\.dll$</ModulePath>
                <!-- This is all generated code -->
                <ModulePath>.*microsoft\.dotnet\.maestro\.client\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
            <Functions>
              <Exclude>
                <Function>Microsoft\.Data\.Migrations\..*</Function>
              </Exclude>
            </Functions>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
