<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="dotnet-public">
      <package pattern="Argon" />
      <package pattern="Aspire.*" />
      <package pattern="AspNetCore.HealthChecks.Azure.Storage.Queues" />
      <package pattern="AspNetCoreRateLimit" />
      <package pattern="AutoMapper" />
      <package pattern="Azure.*" />
      <package pattern="Ben.Demystifier" />
      <package pattern="BenchmarkDotNet" />
      <package pattern="BenchmarkDotNet.Annotations" />
      <package pattern="Blazored.SessionStorage" />
      <package pattern="Castle.Core" />
      <package pattern="CoContra" />
      <package pattern="CommandLineParser" />
      <package pattern="ConsoleTables" />
      <package pattern="coverlet.collector" />
      <package pattern="CsvHelper" />
      <package pattern="DiffEngine" />
      <package pattern="DiffPlex" />
      <package pattern="DotNetAnalyzers.DocumentationAnalyzers" />
      <package pattern="DotNetAnalyzers.DocumentationAnalyzers.Unstable" />
      <package pattern="dotnet-ef" />
      <package pattern="EmptyFiles" />
      <package pattern="EntityFrameworkCore.*" />
      <package pattern="FluentAssertions" />
      <package pattern="FluentAssertions.Json" />
      <package pattern="FluentValidation" />
      <package pattern="FluentValidation.AspNetCore" />
      <package pattern="FluentValidation.DependencyInjectionExtensions" />
      <package pattern="Fractions" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Google.Protobuf" />
      <package pattern="Grpc.*" />
      <package pattern="Handlebars.Net" />
      <package pattern="Humanizer" />
      <package pattern="Humanizer.*" />
      <package pattern="Iced" />
      <package pattern="IdentityModel" />
      <package pattern="IdentityModel.OidcClient" />
      <package pattern="IdentityServer4" />
      <package pattern="IdentityServer4.*" />
      <package pattern="JetBrains.Annotations" />
      <package pattern="Json.More.Net" />
      <package pattern="JsonPointer.Net" />
      <package pattern="JsonSchema.Net" />
      <package pattern="KubernetesClient" />
      <package pattern="LibGit2Sharp" />
      <package pattern="LibGit2Sharp.NativeBinaries" />
      <package pattern="LZMA-SDK" />
      <package pattern="Macross.Json.Extensions" />
      <package pattern="MathNet.Numerics" />
      <package pattern="McMaster.Extensions.CommandLineUtils" />
      <package pattern="MessagePack" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePackAnalyzer" />
      <package pattern="MicroBuild.*" />
      <package pattern="Microsoft.ApplicationInsights" />
      <package pattern="Microsoft.ApplicationInsights.*" />
      <package pattern="Microsoft.AspNet.WebApi.Client" />
      <package pattern="Microsoft.AspNetCore.App.*" />
      <package pattern="Microsoft.AspNetCore.Authentication.*" />
      <package pattern="Microsoft.AspNetCore.Authorization" />
      <package pattern="Microsoft.AspNetCore.Authorization.Policy" />
      <package pattern="Microsoft.AspNetCore.Components" />
      <package pattern="Microsoft.AspNetCore.Components.*" />
      <package pattern="Microsoft.AspNetCore.Cryptography.*" />
      <package pattern="Microsoft.AspNetCore.DataProtection" />
      <package pattern="Microsoft.AspNetCore.DataProtection.*" />
      <package pattern="Microsoft.AspNetCore.Hosting" />
      <package pattern="Microsoft.AspNetCore.Hosting.*" />
      <package pattern="Microsoft.AspNetCore.Http*" />
      <package pattern="Microsoft.AspNetCore.Identity.EntityFrameworkCore" />
      <package pattern="Microsoft.AspNetCore.JsonPatch" />
      <package pattern="Microsoft.AspNetCore.Mvc.*" />
      <package pattern="Microsoft.AspNetCore.Razor.Language" />
      <package pattern="Microsoft.AspNetCore.ResponseCaching.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Routing" />
      <package pattern="Microsoft.AspNetCore.Routing.Abstractions" />
      <package pattern="Microsoft.AspNetCore.Server.HttpSys" />
      <package pattern="Microsoft.AspNetCore.SpaServices.Extensions" />
      <package pattern="Microsoft.AspNetCore.TestHost" />
      <package pattern="Microsoft.AspNetCore.WebHooks.*" />
      <package pattern="Microsoft.AspNetCore.WebUtilities" />
      <package pattern="Microsoft.Azure.*" />
      <package pattern="Microsoft.Bcl.*" />
      <package pattern="Microsoft.Build" />
      <package pattern="Microsoft.Build.*" />
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Microsoft.CSharp" />
      <package pattern="Microsoft.Data.*" />
      <package pattern="Microsoft.DiaSymReader" />
      <package pattern="Microsoft.DotNet.PlatformAbstractions" />
      <package pattern="Microsoft.DotNet.Scaffolding.Shared" />
      <package pattern="Microsoft.EntityFrameworkCore.*" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.FluentUI.AspNetCore.*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="Microsoft.IdentityModel.*" />
      <package pattern="Microsoft.JSInterop" />
      <package pattern="Microsoft.JSInterop.*" />
      <package pattern="Microsoft.NETCore.*" />
      <package pattern="Microsoft.Net.Http.Headers" />
      <package pattern="Microsoft.NET.*" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Microsoft.Rest.ClientRuntime" />
      <package pattern="Microsoft.ServiceFabric.*" />
      <package pattern="Microsoft.ServiceFabric" />
      <package pattern="Microsoft.TeamFoundationServer.Client" />
      <package pattern="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" />
      <package pattern="Microsoft.TestPlatform.*" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="Microsoft.Win32.*" />
      <package pattern="Microsoft.WindowsDesktop.*" />
      <package pattern="mod_spatialite" />
      <package pattern="Mono.Options" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="Moq" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="Namotion.Reflection" />
      <package pattern="ncrontab.signed" />
      <package pattern="NETStandard.Library" />
      <package pattern="NetTopologySuite" />
      <package pattern="NetTopologySuite.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Newtonsoft.Json.*" />
      <package pattern="NJsonSchema" />
      <package pattern="NJsonSchema.Annotations" />
      <package pattern="NLog" />
      <package pattern="NRedisStack" />
      <package pattern="NSubstitute" />
      <package pattern="NuGet.*" />
      <package pattern="NUnit" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="Octokit" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="Perfolizer" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="Polly" />
      <package pattern="Polly.*" />
      <package pattern="prometheus-net" />
      <package pattern="Quartz" />
      <package pattern="runtime.*" />
      <package pattern="ServiceFabric.Mocks" />
      <package pattern="SharpYaml" />
      <package pattern="SharpZipLib" />
      <package pattern="Shouldly" />
      <package pattern="SimpleInfoName" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="StackExchange.Redis" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.Annotations" />
      <package pattern="Swashbuckle.AspNetCore.Newtonsoft" />
      <package pattern="Swashbuckle.AspNetCore.Swagger" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
      <package pattern="Sylvan.Data.Csv" />
      <package pattern="system.*" />
      <package pattern="TextCopy" />
      <package pattern="Verify" />
      <package pattern="Verify.NUnit" />
      <package pattern="vswhere" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="YamlDotNet" />
      <package pattern="YamlDotNet.Signed" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="CoreHealthMonitor" />
      <package pattern="MicroBuild.Core.Sentinel" />
      <package pattern="Microsoft.Arcade.Common" />
      <package pattern="Microsoft.AspNetCore.ApiPagination" />
      <package pattern="Microsoft.AspNetCore.ApiVersioning.*" />
      <package pattern="Microsoft.AspNetCore.ApiVersioning" />
      <package pattern="Microsoft.DiaSymReader.Pdb2Pdb" />
      <package pattern="Microsoft.DncEng.*" />
      <package pattern="Microsoft.DotNet.Arcade.Sdk" />
      <package pattern="Microsoft.DotNet.Authentication.Algorithms" />
      <package pattern="Microsoft.DotNet.Build.Tasks.Feed" />
      <package pattern="Microsoft.DotNet.Darc" />
      <package pattern="Microsoft.DotNet.GitHub.Authentication" />
      <package pattern="Microsoft.DotNet.Internal.*" />
      <package pattern="Microsoft.DotNet.Kusto" />
      <package pattern="Microsoft.DotNet.Maestro.Tasks" />
      <package pattern="Microsoft.DotNet.Metrics" />
      <package pattern="Microsoft.DotNet.ServiceFabric.ServiceHost" />
      <package pattern="Microsoft.DotNet.Services.Utility" />
      <package pattern="Microsoft.DotNet.SignTool" />
      <package pattern="Microsoft.DotNet.SwaggerGenerator.MSBuild" />
      <package pattern="Microsoft.DotNet.Tar" />
      <package pattern="Microsoft.DotNet.VersionTools" />
      <package pattern="Microsoft.DotNet.Web.Authentication" />
      <package pattern="Microsoft.Signed.Wix" />
      <package pattern="Microsoft.SymbolUploader.Build.Task" />
      <package pattern="ServiceFabricMocks" />
      <package pattern="sn" />
    </packageSource>
  </packageSourceMapping>
</configuration>
