<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="dotnet-public">
      <package pattern="Argon" />
      <package pattern="Aspire.*" />
      <package pattern="AspNetCore.*" />
      <package pattern="AspNetCoreRateLimit" />
      <package pattern="AutoMapper" />
      <package pattern="AwesomeAssertions" />
      <package pattern="Azure.*" />
      <package pattern="Ben.Demystifier" />
      <package pattern="BenchmarkDotNet" />
      <package pattern="BenchmarkDotNet.Annotations" />
      <package pattern="Blazored.SessionStorage" />
      <package pattern="Castle.Core" />
      <package pattern="CoContra" />
      <package pattern="CommandLineParser" />
      <package pattern="ConsoleTables" />
      <package pattern="coverlet.collector" />
      <package pattern="CsvHelper" />
      <package pattern="DiffEngine" />
      <package pattern="DiffPlex" />
      <package pattern="DistributedLock.*" />
      <package pattern="DotNetAnalyzers.DocumentationAnalyzers" />
      <package pattern="DotNetAnalyzers.DocumentationAnalyzers.Unstable" />
      <package pattern="dotnet-ef" />
      <package pattern="EmptyFiles" />
      <package pattern="EntityFrameworkCore.*" />
      <package pattern="FluentAssertions" />
      <package pattern="FluentValidation" />
      <package pattern="FluentValidation.AspNetCore" />
      <package pattern="FluentValidation.DependencyInjectionExtensions" />
      <package pattern="Fractions" />
      <package pattern="Gee.External.Capstone" />
      <package pattern="Google.Protobuf" />
      <package pattern="Grpc.*" />
      <package pattern="Handlebars.Net" />
      <package pattern="Humanizer" />
      <package pattern="Humanizer.*" />
      <package pattern="Iced" />
      <package pattern="IdentityModel" />
      <package pattern="IdentityModel.OidcClient" />
      <package pattern="IdentityServer4" />
      <package pattern="IdentityServer4.*" />
      <package pattern="JetBrains.Annotations" />
      <package pattern="Json.More.Net" />
      <package pattern="JsonPatch.Net" />
      <package pattern="JsonPointer.Net" />
      <package pattern="JsonSchema.Net" />
      <package pattern="KubernetesClient" />
      <package pattern="LibGit2Sharp" />
      <package pattern="LibGit2Sharp.NativeBinaries" />
      <package pattern="LZMA-SDK" />
      <package pattern="Macross.Json.Extensions" />
      <package pattern="MathNet.Numerics" />
      <package pattern="McMaster.Extensions.CommandLineUtils" />
      <package pattern="MessagePack" />
      <package pattern="MessagePack.Annotations" />
      <package pattern="MessagePackAnalyzer" />
      <package pattern="MicroBuild.*" />
      <package pattern="Microsoft.*" />
      <package pattern="mod_spatialite" />
      <package pattern="Mono.Options" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="Moq" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="Namotion.Reflection" />
      <package pattern="ncrontab.signed" />
      <package pattern="NETStandard.Library" />
      <package pattern="Nerdbank.Streams" />
      <package pattern="NetTopologySuite" />
      <package pattern="NetTopologySuite.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Newtonsoft.Json.*" />
      <package pattern="NJsonSchema" />
      <package pattern="NJsonSchema.Annotations" />
      <package pattern="NLog" />
      <package pattern="NRedisStack" />
      <package pattern="NSubstitute" />
      <package pattern="NuGet.*" />
      <package pattern="NUnit" />
      <package pattern="NUnit3TestAdapter" />
      <package pattern="Octokit*" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.*" />
      <package pattern="Perfolizer" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="Polly" />
      <package pattern="Polly.*" />
      <package pattern="prometheus-net" />
      <package pattern="Quartz" />
      <package pattern="runtime.*" />
      <package pattern="SemVer" />
      <package pattern="ServiceFabric.Mocks" />
      <package pattern="SharpYaml" />
      <package pattern="SharpZipLib" />
      <package pattern="Shouldly" />
      <package pattern="SimpleInfoName" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="StackExchange.Redis" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="StreamJsonRpc" />
      <package pattern="Swashbuckle.*" />
      <package pattern="Sylvan.Data.Csv" />
      <package pattern="system.*" />
      <package pattern="TextCopy" />
      <package pattern="Verify" />
      <package pattern="Verify.NUnit" />
      <package pattern="vswhere" />
      <package pattern="WindowsAzure.Storage" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="YamlDotNet" />
      <package pattern="YamlDotNet.Signed" />
    </packageSource>
    <packageSource key="dotnet-eng">
      <package pattern="MicroBuild.Core.Sentinel" />
      <package pattern="Microsoft.*" />
      <package pattern="sn" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources />
</configuration>
