<div class="card">
  <div class="card-header p-0">
    <a type="button" style="width: 100%;" class="btn btn-link" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" id="channel-header-{{channel.id}}"
      attr.aria-controls="channel-body-{{channel.id}}">
      {{channel.name}}
    </a>
  </div>
  <div [ngbCollapse]="isCollapsed" id="channel-body-{{channel.id}}"
    attr.aria-labelledby="channel-header-{{channel.id}}">
    <div class="list-group list-group-flush" *ngIf="branches$ | async as branches">
      <a class="list-group-item" *ngFor="let branch of branches" [routerLink]="['/', channel.id, branch.repository]"
        routerLinkActive="active">
        {{trimName(branch.repository)}}
      </a>
    </div>
  </div>
</div>
