@page
@model ProductConstructionService.Api.Pages.ErrorModel
@using System.Net
@using Microsoft.AspNetCore.Http
@{
    ViewBag.Title = "Error";
}

@if (Model.StatusCode == StatusCodes.Status401Unauthorized)
{
    <div>
        Please <a href="/Account/SignIn?returnUrl=@WebUtility.UrlEncode(Model.ReturnUrl)">Sign In</a> to use this site. Make sure you have joined the
        <a href="https://coreidentity.microsoft.com/manage/Entitlement/entitlement/dotnetesmaes-z54r" target="_blank">dotnetes-maestro-users group</a>.
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>@Model.StatusCode</strong> @Model.ErrorMessage
    </div>
}
