<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/e1587fd8-8bf1-45bc-922e-8ff3114413ca/resourceGroups/dkurepa-containers2/providers/Microsoft.ContainerRegistry/registries/dkurepaacr</ContainerResourceId>
    <ContainerResourceName>dkurepaacr</ContainerResourceName>
    <Subscription>dkurepa dev subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>dkurepaacr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>apiservice</ContainerName>
    <EnvironmentName>acaexjpe3hisjmv2e</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://apiservice.ambitiousbush-1cd2f622.northeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e1587fd8-8bf1-45bc-922e-8ff3114413ca/resourceGroups/dkurepa-containers2/providers/Microsoft.App/containerapps/apiservice</ResourceId>
    <ResourceGroup>dkurepa-containers2</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>