<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/e1587fd8-8bf1-45bc-922e-8ff3114413ca/resourceGroups/dkurepa-containers2/providers/Microsoft.ContainerRegistry/registries/dkurepaacr</ResourceId>
    <ResourceName>dkurepaacr</ResourceName>
    <ResourceGroup>dkurepa-containers2</ResourceGroup>
    <Subscription>dkurepa dev subscription</Subscription>
    <RegistryUrl>dkurepaacr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>9743fc76-4da5-4164-9c3a-afb9a83f0541</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>