<?xml version="1.0" encoding="utf-8"?>
<!-- The purpose here is to exercise an incoming new feed to a config with clear tags in its disabledPackageSources node; we need to append after clear to ensure the disable takes. -->
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-coreclr" value="https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="dotnet-coreclr" value="true" />
    <clear />
    <add key="nuget.org" value="true" />
    <clear />
    <!-- Seems whatever wrote this config is indecisive -->
    <add key="dotnet-windowsdesktop" value="true" />
  </disabledPackageSources>
</configuration>
