<div class="d-flex flex-column" style="height: 100%; width: 100%;">
  <div class="d-flex flex-row flex-grow-1" style="overflow: visible; min-height: 56px; max-height: 56px;">
    <nav class="navbar navbar-expand-md navbar-light bg-light" style="min-height: 56px; width: 100%;">
      <a class="navbar-brand" href="/">{{brand}}</a>
      <button class="navbar-toggler" type="button" (click)="navbarOpen = !navbarOpen" [attr.aria-expanded]="navbarOpen"
        aria-controls="bs-navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse bg-light" id="bs-navbar-collapse" [ngbCollapse]="!navbarOpen"
        style="z-index: 1000; width: 100%; padding: 0.5rem 1rem; margin: 0 -1rem;">
        <ul class="navbar-nav mr-auto" *ngIf="userName">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="userName" ngbDropdown>
            <a class="nav-link" style="cursor: pointer;" id="navbarDropdown" role="button" ngbDropdownToggle>
              {{userName}} <span class="caret"></span>
            </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Account/Tokens">Tokens</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Account/SignOut">Sign Out</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="!userName">
            <a class="nav-link" href="/Account/SignIn?returnUrl={{returnUrl | uriEncode}}">Sign In</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="d-flex flex-row flex-grow-1" style="overflow: hidden;">
    <ng-container *ngIf="userName">
      <mc-side-bar [(opened)]="sidebarOpen" [dockedSize]="'45px'" [fullSize]="'250px'" #sideBar></mc-side-bar>
      <div class="d-flex flex-grow-1 grow-children" style="overflow-y: auto;">
        <router-outlet class="flex-grow-0"></router-outlet>
      </div>
    </ng-container>
    <ng-container *ngIf="!userName">
      <div class="d-flex flex-grow-1 grow-children" style="overflow-y: auto;">
        <p class="p-2">Please <a href="/Account/SignIn?returnUrl={{returnUrl | uriEncode}}">Sign In</a> to use this site.</p>
      </div>
    </ng-container>
  </div>
</div>
