<ng-template #popContent>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          <span class="align-self-center"><fa-icon icon="ellipsis-v"></fa-icon></span>
        </td>
        <td>
          <span>This node is an ancestor of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="angle-up"></fa-icon></span>
        </td>
        <td>
        <span>This node is a parent of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="angle-right"></fa-icon></span>
        </td>
        <td>
        <span>This node is a child of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="exclamation"></fa-icon></span>
        </td>
        <td>
        <span>This node is a different build of the same repository as the focused node.</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Focus a node by hovering over it. Lock the focus by clicking the <fa-icon icon="lock"></fa-icon>/<fa-icon icon="lock-open"></fa-icon> icon.
  </p>
</ng-template>
<table class="table table-sm table-hover mb-0">
  <thead>
    <th style="min-width: 0">
      <span style="float: right; cursor: help;" [ngbPopover]="popContent" popoverTitle="Help" placement="right"><fa-icon [icon]="['far', 'question-circle']"></fa-icon></span>
    </th>
    <th>Repository</th>
    <th>Date Produced</th>
    <th>Build Number</th>
    <th>Commit</th>
    <th>Link</th>
  </thead>
  <tbody @noop>
    <ng-container *ngFor="let node of sortedBuilds; trackBy getBuildId">
    <tr *ngIf="includeToolsets || !node.isToolset"
      @insertRemove
      [ngClass]="{'table-warning': !isCoherent(node)}"
      (mouseenter)="hover(node.build.id)"
      (mouseleave)="hover(undefined)">
      <td style="width: 2em; text-align: center"
          (click)="node.isFocused && toggleLock()">
        <div style="display: inline-block">
          <span *ngIf="node.isFocused; else first">
            <fa-icon icon="lock" *ngIf="node.isLocked" title="locked"></fa-icon>
            <fa-icon icon="lock-open" *ngIf="!node.isLocked" title="unlocked"></fa-icon>
          </span>
          <ng-template #first>
            <span *ngIf="node.isSameRepository; else second" class="text-danger">
              <fa-icon icon="exclamation-triangle" title="conflicting build"></fa-icon>
            </span>
          </ng-template>
          <ng-template #second>
            <span *ngIf="node.isAncestor; else third">
              <fa-icon icon="ellipsis-v" title="ancestor"></fa-icon>
            </span>
          </ng-template>
          <ng-template #third>
            <span *ngIf="node.isParent; else fourth">
              <fa-icon icon="angle-up" title="parent"></fa-icon>
            </span>
          </ng-template>
          <ng-template #fourth>
            <span *ngIf="node.isDependent">
              <fa-icon icon="angle-right" title="child"></fa-icon>
            </span>
          </ng-template>
        </div>
      </td>
      <td>
        <a [routerLink]="['../..', getRepo(node.build), node.build.id]">{{getRepo(node.build)}}</a>
      </td>
      <td>
        {{node.build.dateProduced | timeAgo}}
      </td>
      <td>
        <fa-icon icon="exclamation-circle" title="A newer build of this same repository is in the tree" *ngIf="!isCoherent(node)"></fa-icon>
        {{node.build.azureDevOpsBuildNumber}}
      </td>
      <td>
        <a *ngIf="getCommitLink(node.build) as link; else noCommitLink" [href]="link" target="_blank">
          <fa-icon icon="exclamation-circle" *ngIf="!isCoherent(node)"></fa-icon>
          {{node.build.commit}}
          <fa-icon icon="external-link-alt"></fa-icon>
        </a>
        <ng-template #noCommitLink>
          <fa-icon icon="exclamation-circle" *ngIf="!isCoherent(node)"></fa-icon>
          {{node.build.commit}}
        </ng-template>
      </td>
      <td>
        <a *ngIf="getBuildLink(node.build) as link; else noBuildLink" class="btn btn-sm btn-primary" [href]="link" target="_blank">
          Build
          <fa-icon icon="external-link-alt"></fa-icon>
        </a>
        <ng-template #noBuildLink>
          <div title="This build used a version of Arcade SDK that is too old to report data required to fully populate this table.">
          <a class="btn btn-sm btn-primary disabled" aria-disabled="true" disabled>
            Build
            <fa-icon icon="external-link-alt"></fa-icon>
          </a>
          </div>
        </ng-template>
      </td>
    </tr>
    </ng-container>
  </tbody>
</table>
