<ng-template #popContent>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td>
          <span class="align-self-center"><fa-icon icon="ellipsis-v"></fa-icon></span>
        </td>
        <td>
          <span>This node is an ancestor of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="angle-up"></fa-icon></span>
        </td>
        <td>
        <span>This node is a parent of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="angle-right"></fa-icon></span>
        </td>
        <td>
        <span>This node is a child of the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="text-danger">
          <fa-icon icon="exclamation-triangle" title="conflicting build"></fa-icon>
        </span>
        </td>
        <td>
        <span>This node is a different build of the same repository as the focused node.</span>
        </td>
      </tr>
      <tr>
        <td>
            <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="exclamation-circle"></fa-icon></span>
        </td>
        <td>
          <span class='table-danger'>This node is incoherent</span>
        </td>
      </tr>
      <tr>
        <td>
            <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="exclamation-triangle"></fa-icon></span>
        </td>
        <td>
          <span class='table-warning'>This node has incoherent dependencies</span>
        </td>
      </tr>
      <tr>
        <td>
        <span class="align-self-center" style="padding-right: 1rem;"><fa-icon icon="redo"></fa-icon></span>
        </td>
        <td>
        <span>This node has a dependency cycle.</span>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Focus a node by hovering over it. Lock the focus by clicking the <fa-icon icon="lock"></fa-icon>/<fa-icon icon="lock-open"></fa-icon> icon.
  </p>
</ng-template>
<table class="table table-sm table-hover mb-0" style="white-space: nowrap;">
  <thead>
    <th style="min-width: 0" class="graph-icon">
      <span style="cursor: help;" [ngbPopover]="popContent" popoverTitle="Help" placement="right">
        <fa-icon [icon]="['far', 'question-circle']"></fa-icon>
      </span>
    </th>
    <th>Repository</th>
    <th>Date Produced</th>
    <th>Build Number</th>
    <th>Commit</th>
    <th>Link</th>
  </thead>
  <tbody @noop>
    <ng-container *ngFor="let node of sortedBuilds; trackBy getBuildId">
    <tr *ngIf="(includeToolsets || !node.isToolset) && (showAllDependencies || node.isRootOrImmediateDependency)"
      @insertRemove
      [ngClass]="{'table-danger': !isCoherent(node), 'table-warning': hasIncoherentDependencies(node)}"
      (mouseenter)="hover(node.build.id)"
      (mouseleave)="hover(undefined)">
      <td (click)="node.isFocused && toggleLock()" class="graph-icon">
        <div>
          <span [style.visibility]="node.state == 'locked' ? 'visible' : 'hidden'" style="cursor: pointer;">
            <fa-icon icon="lock" *ngIf="node.isLocked" title="locked"></fa-icon>
          </span>
          <span [style.visibility]="node.state == 'unlocked' ? 'visible' : 'hidden'" style="cursor: pointer;">
            <fa-icon icon="lock-open" *ngIf="!node.isLocked" title="unlocked"></fa-icon>
          </span>
          <span [style.visibility]="node.state == 'conflict' ? 'visible' : 'hidden'" class="text-danger">
            <fa-icon icon="exclamation-triangle" title="conflicting build"></fa-icon>
          </span>
          <span [style.visibility]="node.state == 'ancestor' ? 'visible' : 'hidden'">
            <fa-icon icon="ellipsis-v" title="ancestor"></fa-icon>
          </span>
          <span [style.visibility]="node.state == 'parent' ? 'visible' : 'hidden'">
            <fa-icon icon="angle-up" title="parent"></fa-icon>
          </span>
          <span [style.visibility]="node.state == 'child' ? 'visible' : 'hidden'">
            <fa-icon icon="angle-right" title="child"></fa-icon>
          </span>
        </div>
      </td>
      <td>
        <a [routerLink]="['../../..', getRepo(node.build), node.build.id]">{{getRepo(node.build)}}</a>
      </td>
      <td>
        <mc-time-ago [value]="node.build.dateProduced"></mc-time-ago>
      </td>
      <td>
        <fa-icon [icon]="!isCoherent(node) ? 'exclamation-circle' : 'exclamation-triangle'" 
          [title]="!isCoherent(node) ? 'A newer build of this same repository is in the tree' : (hasIncoherentDependencies(node) ? 'This build relies on dependencies that are incoherent' : '')" 
          [style.visibility]="(!isCoherent(node) || hasIncoherentDependencies(node)) ? 'visible' : 'hidden'"></fa-icon>
        <fa-icon [icon]="hasCycle(node) ? 'redo' : 'exclamation-triangle'" 
          [title]="hasCycle(node) ? 'Build contains a dependency cycle: \n' + cyclePath(node) : ''" 
          [style.visibility]="hasCycle(node) ? 'visible' : 'hidden'"></fa-icon>
        {{node.build.azureDevOpsBuildNumber}}
      </td>
      <td class="text-monospace">
        <fa-icon [icon]="!isCoherent(node) ? 'exclamation-circle' : 'exclamation-triangle'" 
        [style.visibility]="(!isCoherent(node) || hasIncoherentDependencies(node)) ? 'visible' : 'hidden'"></fa-icon>
        <fa-icon [icon]="hasCycle(node) ? 'redo' : 'exclamation-triangle'" 
          [title]="hasCycle(node) ? 'Build contains a dependency cycle: \n' + cyclePath(node) : ''" 
          [style.visibility]="hasCycle(node) ? 'visible' : 'hidden'"></fa-icon>
        <a *ngIf="(node.build | commitLink) as link; else noCommitLink" [href]="link" target="_blank">
          {{node.build.commit | slice:0:7}}
          <fa-icon icon="external-link-alt"></fa-icon>
        </a>
        <ng-template #noCommitLink>
            <fa-icon [icon]="!isCoherent(node) ? 'exclamation-circle' : 'exclamation-triangle'" 
            [style.visibility]="(!isCoherent(node) || hasIncoherentDependencies(node)) ? 'visible' : 'hidden'"></fa-icon>
          {{node.build.commit | slice:0:7}}
        </ng-template>
      </td>
      <td>
        <a *ngIf="(node.build | buildLink) as link; else noBuildLink" class="btn btn-sm btn-primary" [href]="link" target="_blank">
          Build
          <fa-icon icon="external-link-alt"></fa-icon>
        </a>
        <ng-template #noBuildLink>
          <div title="This build used a version of Arcade SDK that is too old to report data required to fully populate this table.">
          <a class="btn btn-sm btn-primary disabled" aria-disabled="true" disabled>
            Build
            <fa-icon icon="external-link-alt"></fa-icon>
          </a>
          </div>
        </ng-template>
      </td>
    </tr>
    </ng-container>
  </tbody>
</table>
