

$white: #000;
$gray-100: #212529;
$gray-200: #343a40;
$gray-300: #495057;
$gray-400: #6c757d;
$gray-500: #adb5bd;
$gray-600: #ced4da;
$gray-700: #dee2e6;
$gray-800: #e9ecef;
$gray-900: #f8f9fa;
$black: #fff;

$secondary: $gray-400;

$toast-border-color:                rgba(255, 255, 255, .3);
