<?xml version="1.0" encoding="utf-8"?>
<!-- This test case exercises being called with a nuget config with no managed packageSources comment blocks and no feeds
     Expected behaviors:
       - <clear> tag inserted a beginning of packageSources
       - No comments are removed OR added
       - Disabled Sources node is created, but is empty.
 -->
<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-coreclr" value="https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
