/* Light style */
// No customizations on normal bootstrap
@import "./variables";
@import "../base-variables";
@import "../base";

.btn-info {
  color: darken(#512bd4, 10%);
  background-color: #f0f0f0;
  border-color: darken(#512bd4, 10%);
}

.btn-info:hover, .btn-info:focus {
  color: #512bd4;
  background-color: #fbfbfb;
  border-color: #512bd4;
  border-width: 2px;
  margin: -1px;
}
