<?xml version="1.0" encoding="utf-8"?>
<!-- This test case exercises being called with multiple managed package sources where there were some defined previously.
     Expected behaviors:
       - All managed sources provided (test data adds one arcade, one runtime feed) are inserted into packageSources
       - No comments are removed (trying to avoid merge issues)
       - Disabled Sources are added with valid outer block of comments
 -->
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="dotnet-coreclr" value="https://dotnetfeed.blob.core.windows.net/dotnet-coreclr/index.json" />
    <add key="dotnet-windowsdesktop" value="https://dotnetfeed.blob.core.windows.net/dotnet-windowsdesktop/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="dotnet-coreclr" value="true" />
    <clear />
    <add key="nuget.org" value="true" />
    <clear />
    <!-- Seems whatever wrote this config is indecisive -->
    <add key="dotnet-windowsdesktop" value="true" />
  </disabledPackageSources>
</configuration>
