<?xml version="1.0" encoding="utf-8"?>

<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Default OperationTimeout is 5 minutes which for some of the operations like publishing files into a branch
         is not enough. We first changed it to 10 minutes but turned out that was not enough for some repos, changing to
         22 now so we are safe (the longest we've seen process take is 12 minutes) -->
  <Section Name="TransportSettings">
    <Parameter Name="OperationTimeoutInSeconds" Value="1320" />
  </Section>
</Settings>
