@page "/build"
@using ProductConstructionService.Client
@using ProductConstructionService.Client.Models;
@using ProductConstructionService.BarViz.Components;
@inject IProductConstructionServiceApi PcsApi

<FluentStack VerticalGap="20" Orientation="Orientation.Vertical">
    <h3>Build</h3>

    @if (_build == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h1>@_build.AzureDevOpsRepository</h1>

        <Subscriptions Repository="@_repo" ChannelId="@_channelId"/>

        <Assets BuildId="@_build.Id" />
    }

</FluentStack>

@code {
    private readonly int _channelId = 5119;
    private readonly string _repo = "https://github.com/dotnet/runtime";

    private ProductConstructionService.Client.Models.Build? _build;

    protected override async Task OnInitializedAsync()
    {
        _build = (await PcsApi.Builds.GetLatestAsync(repository: _repo, channelId: _channelId));
    }
}
