@page "/channel/{ChannelId:int}"

@using ProductConstructionService.Client
@using ProductConstructionService.Client.Models;
@inject IProductConstructionServiceApi PcsApi

<PageTitle>@channel?.Name</PageTitle>

@if (channel != null)
{
  <div>
      Channel Name: @channel.Name
      <br />
      Channel Classification: @channel.Classification
  </div>
}

@code {
  [Parameter]
  public int? ChannelId { get; set; }

  private Client.Models.Channel? channel;

  protected override async Task OnParametersSetAsync()
  {
    if (ChannelId.HasValue)
    {
      channel = await PcsApi.Channels.GetChannelAsync(ChannelId.Value);
    }
  }
}
