@page "/channels"
@using ProductConstructionService.Client
@using ProductConstructionService.Client.Models;
@inject IProductConstructionServiceApi PcsApi

<PageTitle>Channels</PageTitle>

<h1>Channels</h1>

@if (channels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid Id="channelgrid" Items="@channels" GridTemplateColumns="1fr 1fr 1fr 2fr" TGridItem=Channel>
        <PropertyColumn Title="Name" Property="@(c => c!.Name)" Sortable="true" Align="Align.Start" />
        <PropertyColumn Title="Classificaiton" Property="@(c => c!.Classification)" Sortable="true" Align="Align.End" />
    </FluentDataGrid>
}

@code {
    private IQueryable<Channel>? channels;

    protected override async Task OnInitializedAsync()
    {
        channels = (await PcsApi.Channels.ListChannelsAsync())!.AsQueryable();
    }
}
