@page "/"

<PageTitle>Maestro++</PageTitle>

<h1>Welcome!</h1>

<p>
    Maestro++ is a service that help us construct .NET.
    The service's main responsibility is opening and managing dependency update pull requests in .NET repositories.
    It is also responsible for the
    <FluentAnchor Href="https://github.com/dotnet/dotnet/tree/main/docs/VMR-Full-Code-Flow.md" Appearance="Appearance.Hypertext" Target="_blank">
        code flow subscription between product repositories and the VMR.
    </FluentAnchor>
    The service's home repository is
    <FluentAnchor Href="https://github.com/dotnet/arcade-services" Appearance="Appearance.Hypertext" Target="_blank">
        dotnet/arcade-services.
    </FluentAnchor>
</p>

<p>
    The service can be accessed using this website but also through the
    <FluentAnchor Href="https://github.com/dotnet/arcade-services/blob/main/docs/Darc.md" Appearance="Appearance.Hypertext" Target="_blank">
        darc CLI.
    </FluentAnchor>
</p>

<p>
    Microsoft employees can get access to the service by joining the
    <FluentAnchor Href="https://coreidentity.microsoft.com/manage/Entitlement/entitlement/dotnetesmaes-z54r" Appearance="Appearance.Hypertext" Target="_blank">
        Maestro CoreIdentity group.
    </FluentAnchor>
</p>
